# MonoGame Build Output
Bin/
Obj/

# Visual Studio files
*.suo
*.user
*.sln
*.slnf
*.vcxproj
*.vcxproj.user
*.csproj
*.csproj.user
.vs/

# Rider files
.idea/

# MonoDevelop files
*.userprefs
*.pidb
*.userprefs
*.userprefs.backup
*.sln
*.csproj
*.csproj.user
*.suo
*.userprefs

# Xcode files (if using iOS or Mac targets)
*.xcodeproj/
*.xcworkspace/
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata

# Miscellaneous
.DS_Store
